//colors
$color-brand: #34BEEE;
$color-brand-dark: #11558A; 
$color-highlight: #DA1384;
$color-background: #F0F9FF;
$color-background-form: #D4E9F9;
$color-text: #191818;


$mobileMenuWidth: 850px;
$mobileHeroWidth: 650px;